.about-banner .about-bg{
    background: url(/images/innerBanner/about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1023px) {
  .about-banner .about-bg2 {
    background: url(/images/innerBanner/about-bg2.png);
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* border-radius: 32px; */
  }
}