---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
import BlogDetailComponent from "@components/blog/blogDetail";
import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content">
			<div class="relative  bg-effect">
				<Navbar client:load/>
				<BlogDetailComponent client:load/>
				<Footer client:load/>
			</div>
		</div>
	  </div>
</Layout>