
.categories-section .container-categories::before{
    @apply xl:content-[''] absolute right-0 top-0 xl:w-[38%] w-[25%] h-full z-10;
    background: linear-gradient(
        90deg,
        rgba(159, 137, 232, 0.10) 0%,
        rgba(159, 137, 232, 0.07) 60%,
        rgba(159, 137, 232, 0.03) 80%,
        rgba(159, 137, 232, 0.00) 100%
    );
    backdrop-filter: blur(3px);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 100%);
}
.container-categories .categories-cards .swiper-wrapper{
    @apply w-full h-full overflow-visible;
}