---
import Layout from "@layouts/Layout.astro";
import AboutBanner from "@components/about/aboutBanner";
import AboutDetail from "@components/about/aboutDetail";
import Footer from "@components/Footer/Footer";

---

<Layout>
  <AboutBanner client:load/>
  <AboutDetail client:visible/>
  <Footer client:visible/>
  <div class="relative bg-effect">
  </div>
</Layout>