---
import Layout from "@layouts/Layout.astro";
import AboutBanner from "@components/about/aboutBanner";
import AboutDetail from "@components/about/aboutDetail";
import Footer from "@components/Footer/Footer";

---

<Layout
  title="About Blindzy | Premium Handmade Blinds & Curtains Australia"
  description="Discover Blindzy, Melbourne’s trusted destination for premium handmade blinds and curtains. We create elegant custom window furnishings with expert craftsmanship and quality materials."
>
  <AboutBanner client:load/>
  <AboutDetail client:visible/>
  <Footer client:visible category_button={false} />
  <div class="relative bg-effect">
  </div>
</Layout>