---
import Layout from "@layouts/Layout.astro";
import AboutBanner from "@components/about/aboutBanner";
import AboutDetail from "@components/about/aboutDetail";
import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content  bg-effect">
      <div class="relative bg-effect">
          <AboutBanner client:load/>
          <AboutDetail client:load/>
      </div>
      <Footer client:load/>
		</div>
	  </div>
</Layout>