---
import Layout from "@layouts/Layout.astro";
import AboutBanner from "@components/about/aboutBanner";
import AboutDetail from "@components/about/aboutDetail";
import WhyChoose from "@components/whyChoose/whyChoose";
import Clients from "@components/clients/clients";
import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content bg-white">
      <div class="relative bg-effect">
          <AboutBanner client:load/>
          <AboutDetail client:load/>
      </div>
      <WhyChoose client:load/>
      <Clients client:load/>
      <Footer client:load/>
		</div>
	  </div>
</Layout>