---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar-old";
import CheckoutComponent from "@components/checkout/checkout";

import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content">
            <Navbar client:load/>
            <CheckoutComponent client:load/>
            <Footer client:load/>
		</div>
	  </div>
</Layout>