---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero/hero";
import Products from "@components/product/product";
import Quality from "@components/quality/quality";
import Categories from "@components/categories/categories";
import About from "@components/about/about";
import Questions from "@components/questions/questions";
import Clients from "@components/clients/clients";
import Footer from "@components/Footer/Footer";
import fetchApi from "@lib/strapi";
import type { TestimonialData } from "@interfaces/interfaces";

async function getData() {
  const testimonialData = await fetchApi<TestimonialData>({
    endpoint: "testimonials?populate=*&pagination[pageSize]=1000",
    wrappedByKey: "data",
  });
  return { testimonialData };
}
const { testimonialData } = await getData();
---

<Layout
  title="Installing Blinds Made Easy | Blindzy Australia"
  description="Shop custom DIY blinds and curtains at Blindzy Australia. Discover affordable, high-quality window furnishings with easy installation guides for every home."
>
  <Hero client:load />
  <Products client:visible />
  <Quality client:visible />
  <Categories client:visible />
  <About client:visible />
  <Questions client:visible />
  <Clients client:visible data={testimonialData} />
  <Footer client:visible category_button={true} />
  <div class="relative bg-effect"></div>
</Layout>
