---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
import InnerBanner from "@components/inner-banner/innerBanner";
import SamplesComponent from "@components/shop/samples";
import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content  bg-effect">
            <Navbar client:load/>
            <InnerBanner client:load title="GET FREE SAMPLES" content="Beautiful Designer Blinds Cou Can Install in 20 Minutes"/>
            <SamplesComponent client:load/>
            
            <Footer client:load/>
		</div>
	  </div>
</Layout>