---
import Layout from "@layouts/Layout.astro";
import Sign from "@components/signUp/signUp";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content">
			<div class="relative bg-white">
				<Sign client:load/>
			</div>
		</div>
	  </div>
</Layout>