---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar-old";
import SingleProductComponent from "@components/product/singleProduct";

import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content bg-white">
            <Navbar client:load/>
            <SingleProductComponent client:load/>
            <Footer client:load/>
		</div>
	  </div>
</Layout>