---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
import Tutorials from "@components/tutorials/tutorials";
import Footer from "@components/Footer/Footer";

---

<Layout>
	<div class="smooth-wrapper">
		<div class="smooth-content">
			<div class="relative bg-white">
				<Navbar client:load/>
				<Tutorials client:load/>
				<Footer client:load/>
			</div>
		</div>
	  </div>
</Layout>