---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
// import InnerBanner from "@components/inner-banner/innerBanner";
// import ShopComponent from "@components/shop/Shop";
import Footer from "@components/Footer/Footer";
// import fetchMedusaApi from "@lib/lib/fetchMedusaApi";
// import fetchApi from "@lib/strapi";
// import type { GroupData } from "@interfaces/interfaces";

// async function getData() {
//   const groupData = await fetchApi<GroupData>({
//     endpoint: "shutter-price?populate=*",
//     wrappedByKey: "data",
//   });
//   return { groupData };
// }
// const { groupData } = await getData();

// const productsData = await fetchMedusaApi<any>({
//   endpoint: "/store/products/custom",
// });

// const filteredProducts = (productsData?.products || []).filter((product: any) => {
//   const hasBlindsCategory = product.categories?.some(
//     (cat: any) => cat.name?.toLowerCase() === "shutters",
//   );
//  const isPublished = product.status === "published";
//   return hasBlindsCategory && isPublished;
// });

---

<Layout
  title="Shutters | Blindzy Australia"
  description="Shop custom DIY shutters at Blindzy Australia. Discover affordable, high-quality window furnishings with easy installation guides for every home."
>
  <Navbar client:load logo="dark" />
  <div class="w-screen h-[50vh] flex items-center justify-center">
    <h2 class="text-1xl text-[--primary]">Coming Soon</h2>
  </div>
  <!-- <InnerBanner
    client:load
    title="Shutters SHOP"
    content="Beautiful Designer shutters You Can Install in 20 Minutes"
  /> -->
  <!-- <ShopComponent
    client:load
    data={filteredProducts}
    customizePage="shutters"
    tags={tags}
    type=""
    groupData={groupData}
  /> -->
  <Footer client:visible category_button={false} />
</Layout>
