---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
import BlogDetailComponent from "@components/blog/blogDetail";
import Footer from "@components/Footer/Footer";

---

<Layout>
		<Navbar client:load logo="dark"/>
		<BlogDetailComponent client:load/>
		<Footer client:load/>
	  </div>
</Layout>