.quailty-step .bg{
    padding: 3.562vw 16px 3.562vw 3.053vw; /* py-[3.562vw] ps-[3.053vw] pr-4 */
    background: url(/images/vector/substract.png);
    background-repeat: no-repeat;
    background-position: 100%; /* Position the background image to the right */
    background-size: contain;   /* Scale the background image to fit within the element */
    overflow: hidden;           /* Ensure content, including images, stays within the bounds of this element */
}

@media (min-width: 640px) { /* sm breakpoint */
    .quailty-step .bg {
        padding: 24px 8.906vw 24px 24px; /* sm:p-[24px] sm:pr-[8.906vw] */
    }
}

@media (min-width: 1280px) { /* xl breakpoint */
    .quailty-step .bg {
        height: 10.573vw; /* xl:h-[10.573vw] */
    }
    #quailty .cus-btn {
        width: 239px;
        height: 64px;
        min-width: 0;
        max-width: 239px;
        max-height: 64px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #quailty .cus-btn {
        width: 239px;
        height: 64px;
        min-width: 0;
        max-width: 239px;
        max-height: 64px;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
  #quailty .cus-btn {
    width: 100%;
    height: 56px;
    min-width: 0;
    max-width: 100%;
    max-height: 56px;
    margin: 0 auto 16px auto;
    display: block;
  }
}

@media (max-width: 639px) {
  .quailty-step .bg {
    background: url(/images/vector/Subtract2.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    overflow: hidden;    
    width: 320px;
        height: 123px;
    /* padding: 3.562vw 16px 3.562vw 3.053vw; */
  }
  #quailty .cus-btn {
    width: 169px;
    height: 56px;
    min-width: 0;
    max-width: 169px;
    max-height: none;
    margin: 0 auto 16px auto;
    background: #9F89E8 !important; /* Assuming primary is #9F89E8, adjust if different */
    border: none !important;
    color: #fff !important;
    padding: 3.721vw 5.581vw !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: inherit;
    display: block;
    white-space: nowrap !important;
  }
  #quailty {
    height: auto !important;
    min-height: 100vh;
    overflow: visible !important;
  }
}